:root, [data-ui-theme=nostromo] {
  --editor-primary: rgba(240, 81, 51, 255);
  --editor-secondary: rgba(187, 163, 73, 255);
  --editor-success: rgba(106, 134, 59, 255);
  --editor-info: rgba(145, 196, 177, 255);
  --editor-warning: rgba(220, 163, 47, 255);
  --editor-danger: rgba(254, 145, 76, 255);
  --editor-light: rgba(49, 52, 61, 255);
  --editor-dark: rgba(27, 19, 17, 255);
}

body {
  background-color: black;
}

rect {

}

svg.editor-interface {
    outline: none;
}

.editor-background {
    fill: var(--editor-dark);
    stroke: var(--editor-primary);
}

.editor-scene {
  fill: transparent;
}














/*
  editor-anchor-line
  editor-component-what
*/

.editor-anchor {

  stroke: var(--editor-primary);
  fill: var(--editor-dark);

  stroke-width: 2;


  &.compatible {
    fill: var(--editor-success);
  }

  &.incompatible {
    fill: var(--editor-danger);
  }

  &.selected {
    stroke: var(--editor-warning);
  }

}






.editor-anchor-line {
  stroke: var(--editor-primary);
  stroke-width: 2;
}


.editor-line {
  stroke: var(--editor-secondary);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-line-midpoint {
  fill: var(--editor-primary);
  stroke: var(--editor-primary);
  &.selected {
    stroke: var(--editor-warning);
    fill: var(--editor-warning);
  }
}

.editor-caption {
  stroke: var(--editor-primary);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-junction {
  stroke: var(--editor-primary);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-container {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

.editor-control {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

.editor-frame {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

div.editor-codemirror {
  background-color: var(--editor-dark);
  border: 2px solid var(--editor-dark);
}

div.editor-codemirror * {
  border-radius: 0 ! important;
}



.editor-device-info-text {
  fill: var(--editor-primary);
}

.editor-device-info {
  stroke: var(--editor-primary);
  fill: var(--editor-dark);
  &.selected {
    fill: var(--editor-warning);
  }
}
