:root,
[data-ui-theme=nostromo] {

    /* --editor-dark: hsl(60, 100%, 4%);
    --editor-darker: hsl(120, 46%, 3%);
    --editor-darkest: hsl(60, 100%, 1%);

    --editor-primary-color: green;
    --editor-secondary-color: orange;
    --editor-primary-background: rgba(0, 0, 0);
    --editor-primary-border: var(--primary-color);

    --editor-selected-color: orange;
    --editor-selected-background: rgba(0, 0, 0);
    --editor-selected-border: var(--selected-color); */

    --editor-primary:   hsl(215, 97%, 51%);
    --editor-secondary: hsl(208, 7%, 45%);

    --editor-success:   hsl(152, 68%, 31%);
    --editor-info:      hsl(190, 89%, 49%);
    --editor-warning:   hsl(45, 100%, 51%);
    --editor-danger:    hsl(354, 71%, 53%);

    --editor-light:     hsl(200, 23%, 97%);
    --editor-dark:      hsl(210, 10%, 14%);
}

body {
  background-color: black;
}

rect {

}

svg.editor-interface {
    outline: none;
}

.editor-background {
    fill: var(--editor-dark);
    stroke: var(--editor-primary);
}

.editor-scene {
  fill: transparent;
}














/*
  editor-anchor-line
  editor-component-what
*/

.editor-anchor {

  stroke: var(--editor-primary);
  fill: var(--editor-dark);

  stroke-width: 2;


  &.compatible {
    fill: var(--editor-success);
  }

  &.incompatible {
    fill: var(--editor-danger);
  }

  &.selected {
    stroke: var(--editor-warning);
  }

}






.editor-anchor-line {
  stroke: var(--editor-primary);
  stroke-width: 2;
}


.editor-line {
  stroke: var(--editor-primary);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-caption {
  stroke: var(--editor-primary);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-junction {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

.editor-container {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

.editor-control {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

.editor-frame {
  stroke: var(--editor-primary);
  stroke-width: 2;
}

div.editor-codemirror {
  background-color: var(--editor-dark);
  border: 2px solid var(--editor-dark);
}

div.editor-codemirror * {
  border-radius: 0 ! important;
}
